.browse{
  height: 33%;

  margin: 5% 0;
}

.square{
  width: 18%;
  padding: 5%;
  background-color: #ffffff;
  float: left;
  margin: 0 0 0 4%;
  text-align: center;

  background-color: #252525;
  color: #ffffff;

  font-size: 24px;
}

@media all and (min-width: 50px)   { .square { font-size:0.1em; } }
@media all and (min-width: 100px)  { .square { font-size:0.2em; } }
@media all and (min-width: 200px)  { .square { font-size:0.4em; } }
@media all and (min-width: 300px)  { .square { font-size:0.6em; } }
@media all and (min-width: 400px)  { .square { font-size:0.8em; } }
@media all and (min-width: 500px)  { .square { font-size:1.0em; } }
@media all and (min-width: 600px)  { .square { font-size:1.2em; } }
@media all and (min-width: 700px)  { .square { font-size:1.4em; } }
@media all and (min-width: 800px)  { .square { font-size:1.6em; } }
@media all and (min-width: 900px)  { .square { font-size:1.8em; } }
@media all and (min-width: 1000px) { .square { font-size:2.0em; } }
@media all and (min-width: 1100px) { .square { font-size:2.2em; } }
@media all and (min-width: 1200px) { .square { font-size:2.4em; } }
@media all and (min-width: 1300px) { .square { font-size:2.6em; } }
@media all and (min-width: 1400px) { .square { font-size:2.8em; } }
@media all and (min-width: 1500px) { .square { font-size:3.0em; } }
@media all and (min-width: 1500px) { .square { font-size:3.2em; } }
@media all and (min-width: 1600px) { .square { font-size:3.4em; } }
@media all and (min-width: 1700px) { .square { font-size:3.6em; } }
