
h1{
  font-size: 36px;
  margin-bottom: 20px;
}


.settings-button{
  float: right;
}

.header{
  height: 30px;
  padding: 10px;

  .settings-button{
    display: none;
  }

  &:hover .settings-button{
    display: inline;
  }

}
