@media all and (min-width: 300px) {
  .square { font-size:0.6em; }
  .card .overlay .marquee{ font-size: 0.4em; }

  .retro{
    .square { font-size:0.8em; }
    .card .overlay .marquee{ font-size: 0.4em; }
  }

  .control-info{
    height: 10px;
    font-size: 16px;
    padding: 5px 10px;

    .control-item{
      margin-right: 10px;
    }

    img{
      height: 10px;

      &.start-select{
        max-height: 7px;
      }
    }
  }

}
@media all and (min-width: 600px) {
  .square { font-size:1.2em; }
  .card .overlay .marquee{ font-size: 0.8em; }

  .retro{
    .square { font-size:1em; }
    .card .overlay .marquee{ font-size: 0.6em; }
  }
}
@media all and (min-width: 900px) {
  .square { font-size:1.8em; }
  .card .overlay .marquee{ font-size: 1em; }

  .retro{
    .square { font-size:1.2em; }
    .card .overlay .marquee{ font-size: 0.6em; }
  }

  .control-info{
    height: 15px;
    font-size: 22px;
    padding: 10px 15px;

    .control-item{
      margin-right: 20px;
    }

    img{
      height: 15px;

      &.start-select{
        max-height: 10px;
      }
    }
  }

}
@media all and (min-width: 1200px) {
  .square { font-size:2.4em; }
  .card .overlay .marquee{ font-size: 1.1em; }

  .retro{
    .square { font-size:1.4em; }
    .card .overlay .marquee{ font-size: 0.8em; }
  }

  .control-info{
    height: 20px;
    padding: 15px 20px;
    font-size: 26px;

    .control-item{
      margin-right: 30px;
    }

    img{
      height: 20px;

      &.start-select{
        max-height: 15px;
      }
    }
  }

}
@media all and (min-width: 1500px) {
  .square { font-size:3.0em; }
  .card .overlay .marquee{ font-size: 1.2em; }

  .retro{
    .square { font-size:1.6em; }
    .card .overlay .marquee{ font-size: 1.0em; }
  }
}
@media all and (min-width: 1700px) {
  .square { font-size:3.6em; }
  .card .overlay .marquee{ font-size: 1.4em; }

  .retro{
    .square { font-size:1.8em; }
    .card .overlay .marquee{ font-size: 1.2em; }
  }

  .control-info{
    height: 25px;
    padding: 15px 20px;
    font-size: 32px;

    .control-item{
      margin-right: 40px;
    }

    img{
      height: 25px;

      &.start-select{
        max-height: 20px;
      }
    }
  }

}
@media all and (min-width: 1900px) {
  .square { font-size:3.6em; }
  .card .overlay .marquee{ font-size: 1.4em; }

  .retro{
    .square { font-size:2.1em; }
    .card .overlay .marquee{ font-size: 1.4em; }
  }
}
@media all and (min-width: 2000px) {
  .square { font-size:3.6em; }
  .card .overlay .marquee{ font-size: 1.6em; }

  .retro{
    .square { font-size:2.3em; }
    .card .overlay .marquee{ font-size: 1.6em; }
  }
}
